<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.reagent.dal.mysql.ReagentLabelPrintMapper">

    <!--
        试剂标签打印查询（只读 SQL Server 数据源）
        SELECT sdpm002.pm00202 AS 名称,
               sdpm026.pm02603 AS BASID,
               sdpm026.pm02631 AS 批号,
               sdpm027.pm02725 AS 过期日期
        FROM sdpm026 WITH (NOLOCK)
        LEFT JOIN sdpm027 WITH (NOLOCK) ON sdpm027.pm02701 = sdpm026.pm02601
        LEFT JOIN sdpm002 WITH (NOLOCK) ON sdpm002.pm00200 = sdpm027.pm02703
        WHERE sdpm026.pm02603 LIKE '%' + #{basId} + '%'   /* BASID 模糊查询 */
    -->
    <select id="selectByBasId" parameterType="String" resultType="cn.iocoder.yudao.module.reagent.controller.admin.vo.ReagentLabelPrintRespVO">
        SELECT sdpm002.pm00202 AS name,
               sdpm026.pm02603 AS basId,
               sdpm026.pm02631 AS batchNo,
               sdpm027.pm02725 AS expireDate
        FROM dbo.sdpm026 WITH (NOLOCK)
        LEFT JOIN dbo.sdpm027 WITH (NOLOCK) ON sdpm027.pm02701 = sdpm026.pm02601
        LEFT JOIN dbo.sdpm002 WITH (NOLOCK) ON sdpm002.pm00200 = sdpm027.pm02703
        WHERE sdpm026.pm02603 LIKE '%' + #{basId} + '%'
    </select>

</mapper>
